/* Début du CSS Géneral { */
body, input {
    font-family: 'Raleway-VariableFont_wght.ttf', sans-serif;
}
header, section {
    width: 90%;
    margin : auto;
}
header {
    padding: 30px;
}
section {
    margin-bottom: 20px;
}
footer {
    margin: 0;
    padding-bottom: 2%;
    position: absolute;
    left: 0;
    right: 0;
}
nav {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
input {
    font-size: 1.2em;
    height: 40px;
    /*-webkit-appearance: none;*/  /*Paramètr a utiliser por le navigateur safari a adapté*/
}
i, .a_head {
    color: #0065FC;
}
img {
    object-fit: cover;
}
h3 {
    margin-left: 20px;
}
/*CSS général pour classe*/
.div_heb_pop, .div_heb_result, .div_activite {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.05);
}
.sec_heb, .div_cnt_activ {
    justify-content: space-between;
}
.sec_heb_font, .i_map, footer {
    background-color: #F2F2F2;
}
.nav_hea, .div_foot_link {
    width: 33%;
}
.div_a_inscrire, a {
    padding: 3px;
}
.i_filtre, .div_filtre_icone {
    background-color: #DEEBFF;
}
.i_info_filtre, .btn_search  {
    background-color: #0065FC;
}
.i_info_filtre, .btn_search {
    color: white;
}
.img_activite_size {
    height: 25%;
}
.div_ctn_filtre, .div_heb_po, .div_heb_cnt, .sec_heb, .div_cnt_activ, .div_heb_pop, nav, header, .a_heb_pop, .p_filtre /*display: flex;*/{
    display: flex;
}
/*Fin du CSS général } */

/* CSS pour gèrer le footer*/

.div_foot_link {
    flex-wrap: wrap;
}

.nav_foot {
    width: 90%;
    margin: auto;
}
.a_foot {
    margin-bottom: 10px;
    font-size: 1.2em;
}
/*Ce code gère la position des block du header*/
.div_hea {
    width: inherit;
}
.head_blo_right {
    position: relative;
    top: -38px;
    height: 58px;
    text-align: right;
    justify-content: flex-end;
    width: auto;
    display: flex;
}
.img_head{
    width: 6em;
}
.a_head {
    margin-right: 50px;
    align-items: flex-end;
display: flex;
}

.h2_sec_heb_mob {
    display: none;
}
/*Ce code gère le cnt de la section filtre*/
.div_filtre {
    margin-right: 10px;
    cursor: pointer;
}

.btn_search {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.p_filtre {
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 10px;
    border-left: none;
    align-items: center;
}
.div_filtre_icone {
    padding: 5px;
    border-radius: 30px;
    z-index: 20;
    border: 2px solid #DEEBFF;
    margin-left: -2px;
    margin-bottom: -2px;
    margin-top: -2px;
    min-width: 20px;
}
.i_filtre {
    font-size: 1.2em;
}
.i_map {
    position: relative;
    font-size: 1.5em;
    margin-right: -4.4px;
    padding: 0.35em;
    padding-left: 8px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 2px;
    color: black;
}
.p_margin {
    margin: 50px;
    margin-left: 0;
}
.h_filtre {
    margin: 10px;
}
.i_info_filtre {
    border: solid 1px #DEEBFF;
    border-radius: 10px;
}

/*.div_filtre_icone:hover {
    background-color: #0065FC;
}*/
/*.i_filtre:hover {
    background-color: #0065FC;
    color: #DEEBFF;
}*/
.p_filtre:hover {
    border-color: #0065FC;
    color: #0065FC;
    background-color: #F2F2F2;
}
/* Ce code en particulier gère la partie hébergement*/
.img_heb {
    max-height: 150px;
    width: 96%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.txt_heb {
    margin: 2px;
    text-align: left;
    
}
.txt_heb_margin {
    margin-left: 20px;
}
.img_heb_pop{
    width: 35.5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: inherit;
}
.div_heb_pop {
    padding: 1%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}
.heb_pop_desc {
    width: max-content;
    margin-left: 20px;
}
.i_gris {
    color: #F2F2F2;
}
.i_heb_pop {
    color: black;
    float: right;
    font-size: 1.5em;
    margin-right: 4%;
}
.div_heb_result {
    width: 30%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding-top: 0.5%;
    text-align: center;
}
.a_heb_pop {
    height: 150px;
    width: 100%;
}
/* Ce code en particulier gére la position et le comportement des aside de la section hébergement*/
.asi_heb {
    border-radius: 15px;
    padding: 1%;
}
.asi_heb_left {
    width: 65%;
    padding-top: 60px;
}
.asi_heb_right {
    width: 27%;
}

/* Les activités */
.sec_activite {
    min-height: 500px;
}

.img_activite {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 150px;
}
.img_activite_high {
    max-height: 400px;
    height: 400px;
} 
.asi_activite {
    width: 22%;
}
.div_activite {
    border-radius: 20px;
    padding-bottom: 5px;
    margin-top: 20px;
}
/*Tentative auto crop*/

.div_heb_cnt {
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.div_cnt_pop {
    height: 95%;
}


/***/

/**/

.div_stCard_cnt,.div_stCard {
    text-align: center;
  }
  
  img,.div_stCard {
    transition: 0.3s all;
    border-radius: 3px;
  }
  
  .div_stCard_cnt {
      max-width: 96%;
      position: relative;
      left: 2%;
      top: -6%;
  }
  
  .div_stCard_cnt img {
    width: 100%;
    margin-bottom: -4px;
  }
  .div_stCard_cnt .div_stCard {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
  }
  .div_stCard_cnt .div_stCard h2 {
    padding-top: 13%;
  }
  .div_stCard_cnt:hover .div_stCard {
    opacity: 1;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .div_stCard_cnt:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  
  .div_nav_barre {
      position: absolute;
      top: 0;
      height: 3px;
      width: 16.626%;
      display: flex;
  }
  
  .div_nav_barre_elem {
      width: 50%;
      height: 3px;
      margin: 0;
      position: relative;
      left: 4%;
  }
  
  .div_stCard_cnt_pop {
      width: 35.5%;
      top: 0;
      left: 0;
  }
  .img_heb_pop {
      height: 100%;
  }
  
  #a_Head_R,#a_Head_L {
      color: grey;
      align-items: end;
      display: flex;
      width: 49%;
  margin: 0;
  min-width: 135px;
  justify-content: center;
  }
  /*    background-color: blue;*/
  
  .h2_sec_heb {
      position: absolute;
      margin-left: 2%;   
  }
  .h3_mob_tab {
      margin-left: 0;
  }
  
  #btn_search_I {
      display: none;
    background-color: #0065FC;
    color: white;
    border-radius: 15px;
    position: relative;
    left: -12px;
    cursor: pointer;
  }

@media all /*and (min-width: 1024px)  /*Code pour rsolusion d'écran limité ou pour tablette*/ and (max-width: 1358px) {
    .asi_heb_left, .asi_heb_right {
        width: 100%;
        margin-bottom: 30px;
    }
    .sec_heb {
        flex-wrap: wrap;
    }
    .div_heb_pop {
        width: 30%;
        height: 50%;
        margin-top: 10px;
    }
    .div_cnt_pop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .h_heb_pop {
        margin: 3px;
    }
    .img_heb_pop {
        max-height: 125px;
    }
    .div_cnt_pop {
        justify-content: space-around;
    }
    .div_heb_pop {
        width: 40%;
        height: 30%;
        margin-top: 10px;
    }
    .h3_mob_tab {
        margin-left: 0;
    }
    .div_stCard,.div_stCard {
        height: 125px;
    }
    .head_blo_right {
        position: inherit;
    }
    
}

:hover#a_Head_L,:hover#a_Head_R {
    color: #0065FC;
    border-top: 3px solid #0065FC ;
}

/* ### CSS for mobile ### */
@media all and (orientation: portrait) /*Resolution d'écran Verticale*/ {

    .div_stCard_cnt_pop {
        min-width: 35.5%;
    }

    .div_stCard_cnt .div_stCard h2 {
        padding-top: 5%;
      }
    .h2_sec_heb {
        display: none;
    }
    .h2_sec_heb_mob {
        display: initial;
        margin-bottom: 150px;
    }
    .div_nav_barre_elem  {
        display: none;
    }
    /* hebergement { */
    .sec_heb {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .asi_heb_left {
        width: 100%;
    }

    .asi_heb_left {
        background-color: white;
    }
    .asi_heb_right {
        width: 90%;
        margin-bottom: 30px;
    }
    .div_heb_result {
        margin-bottom: 50px;
    }
    .div_heb_result {
        width: 97%;
    }
    .div_heb_pop {
        max-width: 96%;
        margin-left: 1%;
    }
    .img_heb_pop {
        max-height: 150px;
    }
    /* } */

    /* Activité { */
    .div_cnt_activ {
        flex-wrap: wrap;
        height: inherit;
    }
    .center-cropped, .img_activite_size  {
        width: 100%;
        height: 200px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    /* } */

    /*footer {*/
        footer {
            margin-top: 30px;
        }
        .div_foot_link, .asi_activite {
            width: 97%;
            text-align: center;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
        }

        p,a,h3,h4,.a_foot {
            font-size: 1.5em;
        }
    /*}*/

    header {
        display: flex;
        padding: 30px;
        flex-direction: row;
        justify-content: center;
        min-height: 200px;
        max-width: 100%;
        }
    .nav_hea {
        align-self: flex-end;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .div_hea {
        height: fit-content;
        width: auto;
    }
    .a_head {
        margin: 0;
    }

    #a_Head_L,#a_Head_R {
        position: absolute;
        font-size: 1.5em;
        width: 45%;
        padding-bottom: 20px;
    }
    .sec_filtre {
        margin-top: 40px;
    }
    #a_Head_L {
        left: 0;
        top: 10%;
        padding-left: 5%;
        border-bottom: 2px solid;
        
    }
    #a_Head_R{
        right: 0;
        top: 10%;
        padding-right: 5%;
        border-bottom: 2px solid gray;
        color: gray;
    }
    .nav_hea {
        align-self: flex-end;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .img_head {
        width: 8em;
    }
    .div_heb_pop {
        width: 100%;
        height: 25%;
    }
    .a_heb_pop {
        height: auto;
        width: 100%;
    }

    .img_activite {
        max-height: 180px;
    }

    .div_filtre {
        font-size: 1.6em;
        margin-bottom: 30px;
    }
    
    .div_activite {
        margin-bottom: 50px;
    }
    .div_ctn_filtre {
        flex-wrap: wrap;
    }
    .p_mob_sty{
        margin: 0;
    }
    .div_stCard,.div_stCard {
        height: auto;
    }

    :hover#a_Head_L,:hover#a_Head_R {
        color: #0065FC;
        border-color: #0065FC;
        border-top: 0px solid ;
    }

    .sec_filtre {
        margin: auto;
        width: 90%;
    }
    body {
        margin : 0;
    }

    .asi_heb_right {
        width: 100%;
        max-width: -moz-available;
        padding-bottom: 40px;
        border-radius: 0;
    }
    .sec_heb {
        margin: 0;
        width: 100%;
    }
    .div_heb_cnt {
        margin-top: 15px;
    }
    .sec_filtre {
        margin-top: 5%;
    }

    .asi_heb_left {
        padding: 4.5%;
    }

    #btn_search_I {
        display: inline-block;
    }
    .btn_search {
        display: none;
    }

    .div_cnt_pop {
        width: 93%;
        margin: auto;
    }
}



@media all /*and (min-width: 1024px)  /*Code pour rsolusion d'écran à faible largeur*/ and (max-width: 450px) {
    p,a,h3,h4,.a_foot {
        font-size: 1.2em;
    }

    .sec_filtre {
        margin-top: 14%;
    }

    header {
        width: auto;
    }

    #a_Head_R,#a_Head_L {
        top : 14%;
    }

    header {
        min-height: 150px;
    }
}



@media all /*and (min-width: 1024px)  /*Code pour rsolusion d'écran à trés faible largeur*/ and (max-width: 319px) {
    .inp_search {
        width: 70%;
    }
    .p_margin {
        margin: 20px;
        margin-left: 0;
    }

    .p_filtre {
        font-size: 0.7em;
    }

    p,a,h3,h4,.a_foot {
        font-size: 1em;
    }

    .sec_filtre {
        margin-top: 20%;
    }
    header {
        min-height: 50px;
    }

    #a_Head_L, #a_Head_R {
        font-size: 1.2em;
    }

    .img_head {
        width: 6em;
        margin-top: 20px;
    }

    .heb_pop_desc {
        margin-left: 8px;
    }
}