/* Début du CSS Géneral { */
body {
    font-family: 'Raleway-VariableFont_wght.ttf', sans-serif;
}

header, section {
    width: 90%;
    margin : auto;
}

header {
    display: flex;
}

section {
    margin-bottom: 20px;
}

footer {
    
    margin: 0;
    padding-bottom: 2%;
    position: absolute;
    left: 0;
    right: 0;
}

aside {

}

nav {
    display: flex;
    width: 100%;
}

div {

}

p {
    
}

a {
    text-decoration: none;
    color: black;
}

input {
    font-size: 1.2em;
    height: 29px;
}

/*Fin du CSS général } */

/* CSS pour gèrer le footer*/
.sec_heb_font, footer {
    background-color: #F2F2F2;
}

.div_foot_link {
    width: 33%;
    flex-wrap: wrap;
    padding-left: 3%;
}

/*Ce code gère la position des block du header*/
.div_hea {
    width: 33%;
}

.nav_hea {
    width: 33%;
}

.head_blo_right {
    text-align: right;
    justify-content: flex-end;
}

.img_head{
    width: 6em;
}


/*Ce code gère le cnt de la section filtre*/
.div_filtre {
    width: max-content;
}
.div_ctn_filtre {
    display: flex;
}
.btn_search {
    background-color: #0065FC;
    border: none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Ce code en particulier gère la partie hébergement*/
.sec_heb {
    display: flex;
    justify-content: space-around;
}
    /**/
.img_heb_pop{
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.div_heb_pop {
    background-color: white;
    border-radius: 10px;
}
.div_heb_pop {
    display: flex;
    padding: 1%;
    margin-bottom: 20px;
}
.heb_pop_desc {
    width: max-content;
    margin-left: 20px;
}
    /* Ce code en particulier gére la position et le comportement des aside de la section hébergement*/
.asi_heb {
    border-radius: 15px;
    padding: 1%;
}
.asi_heb_left {
    width: 61%;
}
.asi_heb_right {
    width: 25%;
}

/* Les activités */
.sec_activite {
    min-height: 500px;
}
.div_cnt_activ {
    display: flex;
    justify-content: space-around;
    height: 80%;
}
.div_activite {

}
.img_activite {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.asi_activite {
    width: 20%;
}



/*Tentative auto crop*/
.center-cropped {
    width: 100%;
    height: 70%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .img_activite_size {
    height: 25%;
  }

  .div_heb_cnt {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }

  .div_heb_result {
      width: 30%;
      margin-bottom: 100px;
  }
  .div_heb_crop {
    margin: auto;
    width: 60%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
  }